.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__btn {
    position: relative;
    min-width: 5rem;
    max-width: 7rem;

    &:hover {
      .tabs__edit {
        opacity: 1;
      }
    }
  }

  &__input {
    //min-width: 5.5rem;
    min-width: 5.5rem;
    max-width: 7.5rem;
    height: 100%;
    &::ng-deep {
      [tuiWrapper][data-appearance=textfield] {
        background: transparent;
        color: var(--tui-text-01) !important;
        box-shadow: none !important;
      }
      [tuiWrapper][data-appearance=textfield][data-appearance=textfield]:after {
        border: none;
      }
      input {
        //min-width: 5.5rem;
        min-width: 5.5rem;
        max-width: 7.5rem;
        font-size: 1rem;
        padding: 0 !important;
      }
    }
  }

  &__edit {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: red;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }
}
