<div class="tabs">
  <tui-tabs [activeItemIndex]="activeIndex">
   <ng-container *ngFor="let tab of tabs; index as index">
     <button class="tabs__btn" tuiTab (click)="onTabChange(tab)">
       @if (tab.editMode) {
         <tui-input
           class="tabs__input"
           [(ngModel)]="tab.name"
           [tuiTextfieldSize]="'s'"
         >
           <input tuiTextfield (blur)="onSave(tab, index)" />
         </tui-input>
       } @else {
         <span (click)="editTab(tab, index)">
           {{ tab.name }}
         </span>
       }
     </button>
   </ng-container>
  </tui-tabs>


  @if (tabs.length >= limits.minTabs && tabs.length <= limits.maxTabs) {
    <button tuiButton size="s" appearance="flat" (click)="addTab()">
      Add +
    </button>
  }

</div>
